<app-modal
  [isOpen]="isOpen()"
  [title]="'Catch Pokémon'"
  [variant]="'default'"
  (closeModal)="onClose()"
>
  <div class="pokemon-grid">
    @for (pokemon of pokemonGrid(); track $index) {
    <div class="pokemon-slot">
      @if (pokemon) {
      <img
        alt="Pokemon Sprite"
        [src]="pokemon.image"
        [alt]="pokemon.name"
        class="pokemon-sprite"
        [title]="pokemon.name"
      />
      } @else {
      <div class="pokemon-silhouette"></div>
      }
    </div>
    }
  </div>
</app-modal>
